@model ManagementTool.Models.C010_STATUS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C010_STATUS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskCreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskCreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StatusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
