@using System.Web.Mvc.Html;
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Management Tool | @ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    @Styles.Render("~/font-awesome/css")

    @Scripts.Render("~/bundles/jquery")

    <!-- Validate-->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        @Html.Partial("_Navigation")
        

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/metsiMenu")
    @Scripts.Render("~/plugins/pace")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/plugins/typehead")
    @RenderSection("scripts", required: false)


    <!-- Flot -->
    <script src="~/Scripts/js/plugins/flot/jquery.flot.js"></script>
     
    <!-- jQuery UI -->
    <script src="~/Scripts/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- ChartJS-->
    <script src="~/Scripts/js/plugins/chartJs/Chart.min.js"></script>

</body>
</html>
