@model IEnumerable<ManagementTool.Models.C006_SubPhase>

@{
    int index = 1;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <br />
    <div class="col-lg-12">
        <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="button" onclick="window.location.href='@Url.Content("~/SubPhase/Create")'"><strong>Add New Sub Phase</strong></button>
    </div>


    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Complete Sub Phase Listing</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content"  id="ibox1">
                <div class="sk-spinner sk-spinner-cube-grid">
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" id="tblList">
                        <thead>
                            <tr>
                                <th colspan="9">

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Location </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("LocationId", null, "Select Location", htmlAttributes: new { @class = "form-control m-b", onchange = "GetCompanyByLocation(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Company</label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("CompanyId", null, "Select Company", htmlAttributes: new { @class = "form-control m-b", onchange = "GetSubPhaseByCompany(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Division </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("DivisionId", null, "Select Division", htmlAttributes: new { @class = "form-control m-b", onchange = "GetAreaByDivision(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Area </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("AreaId", null, "Select Area", htmlAttributes: new { @class = "form-control m-b", onchange = "GetSubAreaByArea(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Sub Area </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("SubAreaId", null, "Select Sub Area", htmlAttributes: new { @class = "form-control m-b", onchange = "GetSubPhaseListBySubArea(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Project : </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("ProjectId", null, "Select Project", htmlAttributes: new { @class = "form-control m-b", onchange = "GetSubPhaseListByProject(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Phase : </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("PhaseId", null, "Select Phase", htmlAttributes: new { @class = "form-control m-b", onchange = "GetSubPhaseListByPhase(this);" })
                                        </div>
                                    </div>
                                    
                                </th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Project Name</th>
                                <th>Phase Name  </th>
                                <th>Sub Phase Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Generated By</th>
                                <th>Generated Date </th>
                                <th>Action      </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if ((Model == null) || (Model.Count() == 0))
                            {
                                <tr>
                                    <td colspan="9">
                                        <div class="col-md-9">
                                            <div class="forum-icon">
                                                <i class="fa fa-bomb"></i>
                                            </div>
                                            <div class="forum-item-title">No Items Found, Please Select Any project or Phase</div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@index                                      </td>
                                        <td>@item.C005_PHASE.C004_PROJECT.ProjectName   </td>
                                        <td>@item.C005_PHASE.PhaseName                  </td>
                                        <td>@item.SubPhaseName                          </td>

                                        <td>@item.StartDate.ToString("MMM dd, yyyy")</td>
                                        <td>@item.EndDate.ToString("MMM dd, yyyy")</td>

                                        <td>@Html.DisplayFor(modelItem => item.EndUser.UserName)                </td>
                                        <td>@item.GeneratedDate.ToString("MMM dd, yyyy")                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.SubPhaseId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.SubPhaseId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.SubPhaseId })
                                        </td>
                                    </tr>
                                    index = index + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/pages/subphase.js"></script>
<script type="text/javascript"></script>
