@model IEnumerable<ManagementTool.Helpers.commitment_service>

<!-- Sweet Alert -->
<link href="/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

@{
    int index = 1;
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<br />

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Commitment For @ViewBag.UserName</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    @using (Html.BeginForm("Create", "Division", FormMethod.Post, new { id = "frmMain" }))
                    {
                        @Html.AntiForgeryToken();

                        foreach (var outer in Model) {
                            <!-- / Commitment Header Comes here -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Commitment Heading</label>
                                <div class="col-lg-9">
                                    <label class="form-control m-b" id="lblCommitmentHeader">@outer.CommitmentHeading</label>
                                </div>
                            </div>

                            <!-- / Commitment Details Comes here -->
                            <div class="form-group">
                                <table class="table no-margin" id="tblCommitments">

                                    <thead>
                                        <tr style="vertical-align:top!important; text-align:center;">
                                            <th style="text-align:center; width:5%;"> S. No             </th>
                                            <th style="text-align:center; width:30%;"> Commitment       </th>
                                            <th style="text-align:center; width:25%;"> Description      </th>
                                            <th style="text-align:center; width:25%;"> Manager Remarks  </th>
                                            <th style="text-align:center; width:10%;"> Date Created      </th>
                                            <th style="text-align:center; width:5%;"> Created By</th>
                                            <th style="text-align:center; width:5%;"> Action            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var inner in outer.lst)
                                    {
                                    <tr style="font-size:9pt;">
                                        <td>@index</td>
                                        <td>@inner.Commitment   </td>
                                        <td>@inner.Description  </td>
                                        <td>@inner.Remarks      </td>
                                        <td>@inner.Generateddate.ToString("MMM dd, yyyy")</td>
                                        <td>@inner.GeneratedBy</td>
                                        <td>
                                            <div class="ui-pg-div" id="btnEdit"><span class="ui-icon ui-icon-pencil"></span></div>
                                            <div class="ui-pg-div" id="btnDel" ><span class="ui-icon ui-icon-trash"></span></div>                                            
                                        </td>
                                    </tr>

                                        index = index + 1;
                                    }
                                    </tbody>
                                    <tfoot>
                                        <tr style="font-size:9pt;">
                                            <td colspan="7"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }

                        <!-- / Save Button -->
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-sm btn-primary pull-left m-t-n-xs" data-toggle="modal" data-target="#mdlAddNew">
                                    <strong>Add New</strong>
                                </button>

                                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-primary pull-right m-t-n-xs" })
                            </div>
                        </div>
                    }
                        </div>
            </div>
        </div>
    </div>
</div>

<br/>
<div class="row">
    <div class="modal inmodal" id="mdlAddNew" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add New Commitment</h4>
                    <small class="font-bold">please Provide Commitment details for @ViewBag.UserName</small>
                </div>
                <div class="modal-body">
                    <form name="frmAddCommitment" id="frmAddCommitment" method="post">

                        <div class="row">
                            <p style="color:red; font-weight:normal; font-style:italic;">
                                <strong>Please Provide Details Below</strong>
                            </p>
                            <div class="form-group">

                                <label class="col-lg-3 control-label">Select Heading</label>
                                <div class="col-lg-9">
                                    @Html.DropDownList("CommitmentId", null, "Select Commitment", htmlAttributes: new { @class = "form-control m-b" })
                                </div>

                                <label class="col-lg-3 control-label">Enter Commitment</label>
                                <div class="col-lg-9">
                                    @Html.TextArea("txtCommitment", new { @class = "form-control m-b", rows="3" })
                                </div>


                                <label class="col-lg-3 control-label">Description</label>
                                <div class="col-lg-9">
                                    @Html.TextArea("txtDescription", new { @class = "form-control m-b", rows = "3" })
                                </div>


                                <label class="col-lg-3 control-label">Manager Remarks</label>
                                <div class="col-lg-9">
                                    @Html.TextArea("txtRemarks", new { @class = "form-control m-b", rows = "3" })
                                </div>

                                <label class="col-lg-3 control-label">Select Project Link</label>
                                <div class="col-lg-9">
                                    @Html.DropDownList("ProjectId", null, "Link to Project", htmlAttributes: new { @class = "form-control m-b" })
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnModalSave">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <!-- Sweet alert -->
<script src="/Scripts/js/plugins/sweetalert/sweetalert.min.js"></script>

<script type="text/javascript">

    $("#btnModalSave").click(function () {

        var isvalid = $("#frmAddCommitment").valid();
        if (isvalid == false){return;}
        
        var commitId  = $('#CommitmentId :selected').val();
        var txtcommit = $('#txtCommitment')         .val();
        var txtdesc   = $('#txtDescription')        .val();
        var txtremrks = $('#txtRemarks')            .val();
        var projId    = $('#ProjectId :selected')   .val();
                
        var postedContent = {
            CommitmentID: commitId,
            TCommit     : txtcommit,
            TDesc       : txtdesc,
            TRemarks    : txtremrks,
            ProjectId   : projId
        }
      
        $.ajax({
            type    : "POST",
            url     : "/Commitment/AddNew",
            data    : postedContent,
            success : function (message) {
                var res = message.data;
                location.reload();
            },
            error   : function (xerr) {
                // $('#txteng').val("err : " +xerr);
            }
        });
       
    });

    $("#btnDel").click(function () {
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this Commitment!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Delete it!",
                cancelButtonText: "No, Cancel please!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                        if (isConfirm) {
                            swal("Deleted!", "Your Commitment has been deleted.", "success");
                        } else {
                            swal("Cancelled", "Your Commitment is safe :)", "error");
                        }
                    });
        });

    $(document).ready(
    function () {
        $("#frmAddCommitment").validate({
            rules: {
                txtCommitment: {
                    minlength: 3,
                    maxlength: 250,
                    required: true
                },
                txtDescription: {
                    minlength: 3,
                    maxlength: 250,
                    required: true
                },
                CommitmentId: { required: true },
                ProjectId: { required: true },
            },
            highlight: function (element) {
                $(element).closest('.control-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.control-group').removeClass('has-error');
            },
            submitHandler: function (form) { // for demo
                form.submit();
                return false;
            }
        });
    });

    function parseJsonDate(jsonDateString) {
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        jsonDateString = jsonDateString.replace('/Date(', '');
        jsonDateString = jsonDateString.replace(')/', '');
        var date = new Date(parseInt(jsonDateString));
        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();
        return day + "-" + monthNames[monthIndex] + "-" + year;
    }
</script>