@model ManagementTool.Models.C004_PROJECT

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">

    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add New Project</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { id = "frmMain" }))
                    {
                        @Html.AntiForgeryToken();

                        <!-- / Select Location and Company -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Location</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("LocationId", null, "Select Location", htmlAttributes: new { @onchange = "FillCompany(this);", @class = "form-control m-b" })
                            </div>
                            <label class="col-lg-2 control-label">Select Company</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("CompanyId", null, "Select Company", htmlAttributes: new { @class = "form-control m-b", @disabled = "disabled" })
                            </div>
                        </div>

                        <!-- / Division Name -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Divison</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("DivisionId", null, "Select Division", htmlAttributes: new { @class = "form-control m-b", onchange = "FillArea(this);" })
                            </div>
                        </div>

                        <!-- / Area Name -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Area</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("AreaId", null, "Select Area", htmlAttributes: new { @class = "form-control m-b", onchange = "FillSubArea(this);" })
                            </div>
                        </div>

                        <!-- / Sub Area Name -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Sub Area</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("SubAreaId", null, "Select Sub Area", htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                        <!-- / Project Name -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">New Project Name</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.ProjectName, htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                        <!-- / Start Date -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Start Date</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.StartDate, htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                        <!-- / End Date -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">End Date</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.EndDate, htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                        <!-- / Select Project Type-->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Project Type</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("ProjectType", null, "Select Project Type", htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                        <!-- / Save Button -->
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit">
                                    <strong>Create</strong>
                                </button>

                                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-primary pull-right m-t-n-xs" })
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(
    function () {
        $('#StartDate').datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: "-100w",
            dateFormat: "dd-M-yy" /*format: 'dd-M-yyyy'*/
        });

        $('#EndDate').datepicker({
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            dateFormat: "dd-M-yy"
        });

        $("#frmMain").validate({
            rules: {
                ProjectName     : {
                    minlength: 3,
                    maxlength: 250,
                    required: true
                },
                LocationId      : { required: true },
                CompanyId       : { required: true },
                DivisionId      : { required: true },
                AreaId          : { required: true },
                ProjectType     : { required: true },
                StartDate       : { required: true, date: true },
                EndDate         : { required: true, date: true },
            },
            highlight: function (element) {
                $(element).closest('.control-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.control-group').removeClass('has-error');
            },
            submitHandler: function (form) { // for demo
                form.submit();
                return false;
            }
        });
    });

    function FillCompany    (obj) {
        var sel = obj.options[obj.selectedIndex].value;
        if (sel == "") {
            $("#CompanyId").empty();
            $("#CompanyId").prop("disabled", true);
            return;
        }

        var postedContent = { SelectedLocation: sel }
        $.ajax({
            type: "POST",
            url: "/Tasks/GetCompaniesByLocation",
            data: postedContent,
            success: function (message) {

                $("#CompanyId").prop("disabled", false);
                $("#CompanyId").empty()

                var res = message.data;
                if (res.length > 0) {
                   
                    for (var i = 0; i < message.data.length; i++) {
                        $('#CompanyId').append($('<option>', { value: message.data[i].CompanyId, text: message.data[i].CompanyName }));
                    } // end of for loop
                } // end of if for length
            },
            error: function (xerr) {
                /* $('#txteng').val("err : " +xerr);*/
            }
        });

    }


    function FillArea       (obj) {
        var sel = obj.options[obj.selectedIndex].value;
        if (sel == "") { return; }        

        var postedContent = { SelectedDivision: sel }
        $.ajax({
            type: "POST",
            url: "/Project/GetAreaByDivision",
            data: postedContent,
            success: function (message) {
                var res = message.data;
                $("#AreaId").empty()
                if (res.length > 0) {
                    for (var i = 0; i < message.data.length; i++) {
                        $('#AreaId').append($('<option>', { value: message.data[i].AreaId, text: message.data[i].AreaName }));
                    } // end of for loop
                } // end of if for length
            },
            error: function (xerr) {
                /* $('#txteng').val("err : " +xerr);*/
            }
        });

    }

    function FillSubArea    (obj) {
        var sel     = obj.options[obj.selectedIndex].value;
        var selText = obj.options[obj.selectedIndex].text
        if (sel == "") { return; }

        

        var postedContent = { SelectedArea: sel }
        $.ajax({
            type: "POST",
            url: "/Project/GetSubAreaByArea",
            data: postedContent,
            success: function (message) {
                $("#SubAreaId").empty()
                var res = message.data;
                
                if (res.length > 0) {
                    for (var i = 0; i < message.data.length; i++) {
                        $('#SubAreaId').append($('<option>', { value: message.data[i].SubAreaId, text: message.data[i].SubAreaName }));
                    } // end of for loop
                } // end of if for length
                else {
                    $('#SubAreaId').append($('<option>', { value: '', text: "No Sub Area For " + selText }));
                }
            },
            error: function (xerr) {
                /* $('#txteng').val("err : " +xerr);*/
            }
        });

    }
</script>