@model ManagementTool.Models.C001_PROJECT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C001_PROJECT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C008_COMPANY.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C008_COMPANY.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C009_DIVISION.DivisionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C009_DIVISION.DivisionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C007_LOCATION.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C007_LOCATION.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C013_PROJECT_TYPE.ProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C013_PROJECT_TYPE.ProjectType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
