@model ManagementTool.Models.C001_PROJECT

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<div class="row">

    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Modify or Change Project Details</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    @using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { id = "frmMain" }))
                    {
                        @Html.AntiForgeryToken();
                        @Html.HiddenFor(model => model.ProjectId)
                    <!-- / Project Name -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">New Project Name</label>
                            <div class="col-lg-9">
                                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control m-b", placeholder = "Project Name" } })                                
                            </div>
                        </div>

                    <!-- / Location -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Select Location</label>
                            <div class="col-lg-9">
                                @Html.DropDownList("LocationId", null, "Select Location", htmlAttributes: new { @class = "form-control m-b", onchange = "FillCompany(this);" })
                            </div>
                        </div>

                    <!-- / Company -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Select Company</label>
                            <div class="col-lg-9">
                                @Html.DropDownList("CompanyId", null, "Select Company", htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                    <!-- / Division -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Select Division</label>
                            <div class="col-lg-9">
                                @Html.DropDownList("DivisionId", null, "Select Division", htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                    <!-- / Start Date-->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Project Start Date</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", htmlAttributes: new { @class = "form-control m-b", placeholer = "Start Date"})
                            </div>
                        </div>

                   <!-- / End Date -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Project End Date</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.EndDate, "{0:dd-MMM-yyyy}", htmlAttributes: new { @class = "form-control m-b", placeholer = "End Date" })
                            </div>
                        </div>

                    <!-- / Project Type -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Select Project Type</label>
                            <div class="col-lg-9">
                                @Html.DropDownList("ProjectType", null, "Select Project Type", htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                    <!-- / Save Button -->
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit">
                                    <strong>Save</strong>
                                </button>

                                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-primary pull-right m-t-n-xs" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(
    function () {
            $('#StartDate').datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: "-15w",
                dateFormat: "dd-M-yy" /*format: 'dd-M-yyyy'*/
            });

            $('#EndDate').datepicker({
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1,
                dateFormat: "dd-M-yy"
            });

            $("#frmMain").validate({
            rules: {
                ProjectName : {
                    minlength: 3,
                    maxlength: 250,
                    required: true
                },
                LocationId  : { required: true },
                CompanyId   : { required: true  },
                DivisionId  : { required: true },
                ProjectType : { required: true },
                StartDate   : {
                    minlength: 6,
                    maxlength: 15,
                    required: true
                },
                EndDate     : {
                    minlength: 6,
                    maxlength: 15,
                    required: true
                },
            },
            highlight       : function (element) {
                $(element).closest('.control-group').addClass('has-error');
            },
            unhighlight     : function (element) {
                $(element).closest('.control-group').removeClass('has-error');
            },
            submitHandler   : function (form) { // for demo
                form.submit();
                return false;
            }
        });
        });


    function FillCompany    (obj) {
        var sel = obj.options[obj.selectedIndex].value;
        if (sel == "") { return; }

        var postedContent = { SelectedLocation: sel }
        $.ajax({
            type: "POST",
            url: "/Project/GetCompaniesbyLocation",
            data: postedContent,
            success: function (message) {
                var res = message.data;
                if (res.length > 0) {
                    $("#CompanyId").empty()
                    for (var i = 0; i < message.data.length; i++) {
                        $('#CompanyId').append($('<option>', { value: message.data[i].CompanyId, text: message.data[i].CompanyName }));
                    } // end of for loop
                } // end of if for length
            },
            error: function (xerr) {
                /* $('#txteng').val("err : " +xerr);*/
            }
        });

    }
</script>