@model IEnumerable<ManagementTool.Models.SP_BUCKET_LIST_Result>

@{
    int index = 1;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <br />
    <div class="col-lg-12">
        <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="button" onclick="window.location.href='@Url.Content("~/Bucket/Create")'"><strong>Add New Bucket</strong></button>
    </div>


    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Complete Bucket Listing</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-cube-grid">
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped" id="tblList">
                        
                        <thead>
                            <tr>
                                <th colspan="9">

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Location </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("LocationId", null, "Select Location", htmlAttributes: new { @class = "form-control m-b", onchange = "GetCompanyByLocation(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Company</label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("CompanyId", null, "Select Company", htmlAttributes: new { @class = "form-control m-b", onchange = "GetBucketListByCompany(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Division </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("DivisionId", null, "Select Division", htmlAttributes: new { @class = "form-control m-b", onchange = "GetAreaByDivision(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Area </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("AreaId", null, "Select Area", htmlAttributes: new { @class = "form-control m-b", onchange = "GetSubAreaByArea(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Sub Area </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("SubAreaId", null, "Select Sub Area", htmlAttributes: new { @class = "form-control m-b", onchange = "GetBucketListBySubArea(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Project : </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("ProjectId", null, "Select Project", htmlAttributes: new { @class = "form-control m-b", onchange = "GetBucketListByProject(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Phase : </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("PhaseId", null, "Select Phase", htmlAttributes: new { @class = "form-control m-b", onchange = "GetBucketListByPhase(this);" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Select Sub Phase : </label>
                                        <div class="col-lg-10">
                                            @Html.DropDownList("SubPhaseId", null, "Select SubPhase", htmlAttributes: new { @class = "form-control m-b", onchange = "GetBucketListBySubPhase(this);" })
                                        </div>
                                    </div>
                                </th>
                            </tr>

                            <tr>
                                <th>#</th>
                                <th>Project Name</th>
                                <th>Phase Name </th>
                                <th>Sub Phase Name </th>
                                <th>Bucket</th>
                                <th>Status</th>
                                <th>Generated By</th>
                                <th>Generated Date </th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@index                              </td>
                                    <td>@item.ProjectName                   </td>
                                    <td>@item.PhaseName                     </td>
                                    <td>@item.SubPhaseName                  </td>
                                    <td>@item.Name                          </td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            WriteLiteral("<i class='fa fa-check-square text-navy'></i>");
                                        }
                                        else
                                        {
                                            WriteLiteral("<i class='fa fa-square text-navy'></i>");
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)                </td>
                                    <td>@item.GenerationDate.ToString("MMM dd, yyyy")                        </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.BucketId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.BucketId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.BucketId })
                                    </td>
                                </tr>
                                index = index + 1;
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/pages/bucket.js"></script>
<script type="text/javascript"></script>
