@model ManagementTool.Models.C008_TASK_DATA
@using ManagementTool.Common;
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    task_base tb = (task_base)ViewBag.TaskBase;
}

<br />
<br />
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 id="dvDetails">Modify Task</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    @using (Html.BeginForm("Delete", "Tasks", FormMethod.Post, new { id = "frmMain" }))
                    {
                        @Html.AntiForgeryToken();
                        @Html.HiddenFor(model => model.TaskId)

                        <!-- / Service Id And Location -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Service Id</label>
                            <div class="col-lg-4">
                                <input type="text" value="@tb.ServiceId" class="form-control m-b" disabled="disabled" name="TaskId" style="background-color:white; color:black" />
                            </div>
                            <label class="col-lg-2 control-label">Location</label>
                            <div class="col-lg-4">
                                <input type="text" value="@tb.LocationName" class="form-control m-b" disabled="disabled" name="Locatoin" id="Locatoin" style="background-color:white; color:black" />
                            </div>
                        </div>

                        <!-- / Company And Division -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Company</label>
                            <div class="col-lg-4">
                                <input name="Company" id="Company" type="text" value="@tb.CompanyName" class="form-control m-b" disabled="disabled" style="background-color:white; color:black" />
                            </div>
                            <label class="col-lg-2 control-label">Division</label>
                            <div class="col-lg-4">
                                <input name="Division" id="Division" type="text" value="@tb.DivisionName" class="form-control m-b" disabled="disabled" style="background-color:white; color:black" />
                            </div>
                        </div>

                        <!-- / Area And Sub Area -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Area</label>
                            <div class="col-lg-4">
                                <input name="Area" id="Area" type="text" value="@tb.AreaName" class="form-control m-b" disabled="disabled" style="background-color:white; color:black" />
                            </div>
                            <label class="col-lg-2 control-label">Sub Area</label>
                            <div class="col-lg-4">
                                <input name="SubArea" id="SubArea" type="text" value="@tb.SubAreaName" class="form-control m-b" disabled="disabled" style="background-color:white; color:black" />
                            </div>
                        </div>

                        <!-- / Project And Phase -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Project</label>
                            <div class="col-lg-4">
                                <input name="Project" id="Project" type="text" value="@tb.ProjectName" class="form-control m-b" disabled="disabled" style="background-color:white; color:black" />
                            </div>
                            <label class="col-lg-2 control-label">Phase</label>
                            <div class="col-lg-4">
                                <input name="Phase" id="Phase" type="text" value="@tb.PhaseName" class="form-control m-b" disabled="disabled" style="background-color:white; color:black" />
                            </div>
                        </div>

                        <!-- / Bucket And Sub Sub Phase -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Bucket</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("BucketId", null, "Select Bucket", htmlAttributes: new { @class = "form-control m-b", @disabled = "disabled", @style = "background-color:white; color:black" })
                            </div>
                            <label class="col-lg-2 control-label">Sub Phase</label>
                            <div class="col-lg-4">
                                <input name="SubPhase" id="SubPhase" type="text" value="@tb.SubPhaseName" class="form-control m-b" disabled="disabled" style="background-color:white; color:black" />
                            </div>
                        </div>

                        <!-- / Task Name -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">New Task Name</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.SName, htmlAttributes: new { @class = "form-control m-b", @placeholder = "Task Name", @disabled = "disabled", @style = "background-color:white; color:black" })
                            </div>
                        </div>

                         <!-- / Description -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-10">
                                <textarea class="form-control m-b" id="Description" name="Description" rows="2" cols="20">@Model.Description</textarea>
                            </div>
                        </div>

                        <!-- / Start date and End date -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Start Date <small style="font-weight:normal; font-size:8pt;">readonly</small></label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", htmlAttributes: new { @class = "form-control m-b", @readonly = "readonly", @style = "background-color:white; color:black" })
                            </div>
                            <label class="col-lg-2 control-label">End Date <small style="font-weight:normal; font-size:8pt;">readonly</small></label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(model => model.Deadline, "{0:dd-MMM-yyyy}", htmlAttributes: new { @class = "form-control m-b", @readonly = "readonly", @style = "background-color:white; color:black" })
                            </div>
                        </div>

                        <!-- / Select Owner and Generated by -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Owner</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("OwnerId", null, "Select Owner", htmlAttributes: new { @class = "form-control m-b", @disabled = "disabled", @style = "background-color:white; color:black" })
                            </div>
                            <label class="col-lg-2 control-label">Created By</label>
                            <div class="col-lg-4">
                                <input id="GeneratedBy" name="GeneratedBy" class="form-control m-b" value="@ViewBag.UserName" placeholder="Created By" disabled="disabled" style="background-color:white; color:black" />
                            </div>
                        </div>

                        <!-- / Type and Status -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Task Type</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("TaskTypeId", null, "Select Type", htmlAttributes: new { @class = "form-control m-b", @disabled = "disabled", @style = "background-color:white; color:black" })
                            </div>
                            <label class="col-lg-2 control-label">Task Status</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("StatusId", null, "Select Status", htmlAttributes: new { @class = "form-control m-b", @disabled = "disabled", @style = "background-color:white; color:black" })
                            </div>
                        </div>

                        <!-- / Man Days and Doc Links   -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Man Days</label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(model => model.ManDays, htmlAttributes: new { @class = "form-control m-b", @placeholder = "Man Days", @disabled="disabled", @style="background-color:white; color:black" })
                            </div>
                            <label class="col-lg-2 control-label">Doc Links</label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(model => model.DocsLink, htmlAttributes: new { @class = "form-control m-b", @placeholder = "Document Links", @disabled="disabled", @style="background-color:white; color:black" })
                            </div>
                        </div>

                        <!-- / Save Button -->
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit">
                                    <strong>Delete</strong>
                                </button>

                                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-primary pull-right m-t-n-xs" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>