@model ManagementTool.Models.C008_TASK_DATA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C008_TASK_DATA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubAreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubAreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSubAreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSubAreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocsLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocsLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C007_BUCKET.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C007_BUCKET.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C011_COMPANY.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C011_COMPANY.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C010_LOCATION.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C010_LOCATION.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndUser1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndUser1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C015_STATUS.TaskStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C015_STATUS.TaskStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C014_TASK_TYPE.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C014_TASK_TYPE.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
