@model ManagementTool.Models.C008_TASK_DATA
@using ManagementTool.Common;
@{
    int index = 1;
    ViewBag.Title = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    task_base tb = (task_base)ViewBag.TaskBase;
}


<br />

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 id="dvDetails">Complete Meetings</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    @using (Html.BeginForm("Meetings", "Tasks", FormMethod.Post, new { id = "frmMain" }))
                    {
                        @Html.AntiForgeryToken();
                        @Html.HiddenFor(model => model.TaskId)

                        <!-- / Service Id And Location -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Service Id</label>
                            <div class="col-lg-4">
                                <input type="text" value="@tb.ServiceId" class="form-control m-b" disabled="disabled" name="TaskId" style="background-color:lavenderblush; color:black" />
                            </div>
                            <label class="col-lg-2 control-label">Location</label>
                            <div class="col-lg-4">
                                <input type="text" value="@tb.LocationName" class="form-control m-b" disabled="disabled" name="Locatoin" id="Locatoin" style="background-color:lavenderblush; color:black" />
                            </div>
                        </div>

                        <!-- / Company And Division -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Company</label>
                            <div class="col-lg-4">
                                <input name="Company" id="Company" type="text" value="@tb.CompanyName" class="form-control m-b" disabled="disabled" style="background-color:lavenderblush; color:black" />
                            </div>
                            <label class="col-lg-2 control-label">Division</label>
                            <div class="col-lg-4">
                                <input name="Division" id="Division" type="text" value="@tb.DivisionName" class="form-control m-b" disabled="disabled" style="background-color:lavenderblush; color:black" />
                            </div>
                        </div>

                        <!-- / Area And Sub Area -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Area</label>
                            <div class="col-lg-4">
                                <input name="Area" id="Area" type="text" value="@tb.AreaName" class="form-control m-b" disabled="disabled" style="background-color:lavenderblush; color:black" />
                            </div>
                            <label class="col-lg-2 control-label">Sub Area</label>
                            <div class="col-lg-4">
                                <input name="SubArea" id="SubArea" type="text" value="@tb.SubAreaName" class="form-control m-b" disabled="disabled" style="background-color:lavenderblush; color:black" />
                            </div>
                        </div>

                        <!-- / Project And Phase -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Project</label>
                            <div class="col-lg-4">
                                <input name="Project" id="Project" type="text" value="@tb.ProjectName" class="form-control m-b" disabled="disabled" style="background-color:lavenderblush; color:black" />
                            </div>
                            <label class="col-lg-2 control-label">Phase</label>
                            <div class="col-lg-4">
                                <input name="Phase" id="Phase" type="text" value="@tb.PhaseName" class="form-control m-b" disabled="disabled" style="background-color:lavenderblush; color:black" />
                            </div>
                        </div>

                        <!-- / Bucket And Sub Sub Phase -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Bucket</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("BucketId", null, "Select Bucket", htmlAttributes: new { @onchange = "FillBucket(this);", @class = "form-control m-b" })
                            </div>
                            <label class="col-lg-2 control-label">Sub Phase</label>
                            <div class="col-lg-4">
                                <input name="SubPhase" id="SubPhase" type="text" value="@tb.SubPhaseName" class="form-control m-b" disabled="disabled" style="background-color:lavenderblush; color:black" />
                            </div>
                        </div>

                        <!-- / Task Name -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Meeting Title</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.SName, htmlAttributes: new { @class = "form-control m-b", @placeholder = "Task Name" })
                            </div>
                        </div>

                         <!-- / Description -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-10">
                                <textarea class="form-control m-b" id="Description" name="Description" rows="2" cols="20">@Model.Description</textarea>
                            </div>
                        </div>

                        <!-- / Start date and End date -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Start Date <small style="font-weight:normal; font-size:8pt;">readonly</small></label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy HH:mm}", htmlAttributes: new { @class = "form-control m-b", @readonly = "readonly" })
                            </div>
                            <label class="col-lg-2 control-label">End Date <small style="font-weight:normal; font-size:8pt;">readonly</small></label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(model => model.Deadline, "{0:dd-MMM-yyyy HH:mm}", htmlAttributes: new { @class = "form-control m-b", @readonly = "readonly" })
                            </div>
                        </div>

                        <!-- / Select Owner and Generated by -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Owner</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("OwnerId", null, "Select Owner", htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                            <label class="col-lg-2 control-label">Created By</label>
                            <div class="col-lg-4">
                                <input id="GeneratedBy" name="GeneratedBy" class="form-control m-b" value="@ViewBag.UserName" placeholder="Created By" disabled="disabled">
                            </div>
                        </div>

                        <!-- / Type and Status -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Task Type</label>
                            <div class="col-lg-4">
                                <input type="text" value="Meeting" class="form-control m-b" disabled="disabled" style="background-color:lavenderblush; color:black">
                                <input type="hidden" value="5" name="TaskTypeId" id="TaskTypeId" />
                            </div>
                            <label class="col-lg-2 control-label">Task Status</label>
                            <div class="col-lg-4">
                                @Html.DropDownList("StatusId", null, "Select Status", htmlAttributes: new { @class = "form-control m-b" })
                            </div>
                        </div>

                        <!-- / Man Days and Doc Links   -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Man Days</label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(model => model.ManDays, htmlAttributes: new { @class = "form-control m-b", @placeholder = "Man Days" })
                            </div>
                            <label class="col-lg-2 control-label">Doc Links</label>
                            <div class="col-lg-4">
                                @Html.TextBoxFor(model => model.DocsLink, htmlAttributes: new { @class = "form-control m-b", @placeholder = "Document Links" })
                            </div>
                        </div>

                        <!-- / Save Button -->
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit">
                                    <strong>Save</strong>
                                </button>

                                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-primary pull-right m-t-n-xs" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add Meeting Participants</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table no-margin" id="tblCoOwners">
                            <thead>
                                <tr style="vertical-align:top!important; text-align:center;">
                                    <th style="text-align:center; width:10%;"> S. No                        </th>
                                    <th style="text-align:center; width:30%;"> Paritcipant Name             </th>
                                    <th style="text-align:center; width:50%;"> Description/Role</th>
                                    <th style="text-align:center; width:10%;"> Action                       </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.CoOwners != null)
                                    {
                                        foreach (var usr in ViewBag.CoOwners)
                                        {
                                            <tr style="font-size:9pt;">
                                                <td>@index</td>
                                                <td>@usr.UserName</td>
                                                <td style="text-align:left;">@usr.UserContribution</td>
                                                <td style="text-align:left;" title="Participant Added @usr.ContributorAddDate">
                                                    <form name='frmRemoveOwner_@index' action='/Tasks/ParticipantRemove' onSubmit='return Confirm();' method='post'>
                                                        @Html.AntiForgeryToken()
                                                        <input type='hidden' name='id' value='@usr.FieldId'>
                                                        <input type='submit' name='submit' value='remove' class='btn btn-sm btn-default btn-flat' />
                                                    </form>
                                                </td>
                                            </tr>
                                            index = index + 1;
                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr style="font-size:9pt;">
                                    <td><small class="label bg-green">add</small></td>
                                    <td style="text-align:left;"><input name="coOwnerName" id="coOwnerName" placeholder="Participant Name" class="typeahead_1 form-control m-b" /></td>
                                    <td style="text-align:left;"><textarea name="OwnerDesc" id="OwnerDesc" cols="5" class="form-control" placeholder="Description"></textarea></td>
                                    <td style=""><button onclick="AddParticipant();" class="btn btn-info pull-right">Add New</button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>


<br />
<br />
<input type="hidden" id="PStartDate" name="PStartDate" value="" />
<input type="hidden" id="PEndDate" name="PEndDate" value="" />
<br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<br />

<script type="text/javascript">
    /* $('#ManDays').on('input propertychange paste', function () {}); */

    $("#Deadline").blur(function () {
        var tstDate = $('#StartDate').val();
        var tedDate = $('#Deadline').val();

        var stDate = new Date(tstDate);
        var edDate = new Date(tedDate);

        var difference = edDate - stDate;
        var minss = Math.round(difference / 60000);

        if (minss < 0) {
            $('#Deadline').val('');
            alert("End time Must be greater than Starting Time");
        }
        else {
            $('#ManDays').val((Math.round(minss / 60)));
        }
    });


    $(document).ready(
    function () {

        $("#coOwnerName").typeahead({
            source: function (query, process) {
                var names = [];
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUserNames", "Project")",
                    data: { query: query },
                    success: function (data) {
                        $.each(data, function (i, bname) {
                            /* alert(bname); */
                            names.push(bname);
                        });
                        process(names);
                    },
                    error: function (xerr) {
                        /* $('#txteng').val("err : " +xerr);*/
                    }
                });
            }
        });

        $('#StartDate').datetimepicker({
            timeInput: true,
            format: 'd-M-Y H:i' /* dateFormat: 'dd M yy',*/,
            timeFormat: "hh:mm tt"
        });

        $('#Deadline').datetimepicker({
            timeInput: true,
            format: 'd-M-Y H:i',
            timeFormat: "hh:mm tt"
        });

        $("#frmMain").validate({
            rules: {
                StartDate   : { required: true },
                Deadline    : { required: true },
                SName       : {
                    minlength: 3,
                    maxlength: 250,
                    required: true
                },
                LocationId  : { required: true },
                CompanyId   : { required: true },
                AreaId      : { required: true },
                BucketId    : { required: true },
                TaskTypeId  : { required: true },
                StatusId    : { required: true },
            },
            highlight: function (element) {
                $(element).closest('.control-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.control-group').removeClass('has-error');
            },
            submitHandler: function (form) { // for demo
                form.submit();
                return false;
            }
        });
    });

    function FillBucket             (obj)               {
        var sel     = obj.options[obj.selectedIndex].value;
        var selText = obj.options[obj.selectedIndex].text
        if (sel == "") {
            return;
        }

        var postedContent = { SelectedBucket : sel }
        $.ajax({
            type: "POST",
            url: "/Tasks/GetBucketDetails",
            data: postedContent,
            success: function (message) {

                document.getElementById("Locatoin") .value = message.LocationName;
                document.getElementById("Company")  .value = message.CompanyName;
                document.getElementById("Division") .value = message.DivisionName;
                document.getElementById("Area")     .value = message.AreaName;
                document.getElementById("SubArea")  .value = message.SubAreaName;

                document.getElementById("Project")  .value = message.ProjectName;
                document.getElementById("Phase")    .value = message.PhaseName;
                document.getElementById("SubPhase") .value = message.SubPhaseName;


                //$('#StartDate') .datepicker('destroy');
                //$('#Deadline')  .datepicker('destroy');

                //$('#PStartDate').empty();
                //$("#PEndDate")  .empty();

                var st = message.StartDate;
                var ed = message.EndDate;

                $("#PStartDate").val(parseJsonDate(st));
                $("#PEndDate")  .val(parseJsonDate(ed));

                //ReActivateDatePickers(st, ed);
            },
            error: function (xerr) {
                /* $('#txteng').val("err : " +xerr);*/
            }
        });

    }

    function ReActivateDatePickers(StartDate, EndDate) {

        $("#StartDate").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: new Date($('#PStartDate').val()),
            maxDate: new Date($('#PEndDate').val()),
            dateFormat: "dd-M-yy" /*format: 'dd-M-yyyy'*/
        });

        $("#Deadline").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: new Date($('#PStartDate').val()),
            maxDate: new Date($('#PEndDate').val()),
            dateFormat: "dd-M-yy" /*format: 'dd-M-yyyy'*/
        });


    }

    function parseJsonDate(jsonDateString) {
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        jsonDateString = jsonDateString.replace('/Date(', '');
        jsonDateString = jsonDateString.replace(')/', '');
        var date = new Date(parseInt(jsonDateString));
        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();
        return day + "-" + monthNames[monthIndex] + "-" + year;
    }

    function AddParticipant() {
        var oname = $("#coOwnerName").val();
        var odesc = $("#OwnerDesc").val();
        var sid = $("#TaskId").val();

        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        if ((sid == "") || (oname == "")) { return; }

        var postedContent = {
            TaskId: sid,
            PName: oname,
            PDesc: odesc
        }
        $.ajax({
            type: "POST",
            url: "/Tasks/AddNewParticipant",
            data: postedContent,
            success: function (message) {
                var res = message.data;
                if (res.length > 0) {
                    var reshtml = "";
                    for (var i = 0; i < message.data.length; i++) {
                        reshtml = reshtml + "<tr style='font-size:9pt;'>" +
                                                "<td>" + (i + 1) + "</td>" +
                                                "<td style='text-align:left;'>" + message.data[i].UserName + "</td>" +
                                                "<td style='text-align:left;'>" + message.data[i].PDesc + "</td>" +
                                                "<td><form name='frmOwner_" + (i + 1) + "' action='/Tasks/ParticipantRemove' method='post'><input type='hidden' name='id' value='" + message.data[i].PId + "'>" +
                                                    "<input type='hidden' name='__RequestVerificationToken' value='" + token + "' />" +
                                                    "<input type='submit' name='submit' value='remove' class='btn btn-sm btn-default btn-flat' />" +
                                                "</form></td>" +
                                            "</tr>";
                    } // end of for loop
                    $("#OwnerDesc").val('');
                    $("#coOwnerName").val('');
                    $("#tblCoOwners tbody").empty();
                    $("#tblCoOwners tbody").append(reshtml);
                } // end of if for length
            },
            error: function (xerr) {
                /* $('#txteng').val("err : " +xerr);*/
            }
        });
    }

</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.12/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.12/jquery.datetimepicker.full.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
