@model IEnumerable<ManagementTool.Models.C005_TASK_DATA>

@{
    int index = 1;
    ViewBag.Title = "task Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="row">
    <br />
    <div class="col-lg-12">
        <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="button" onclick="window.location.href='@Url.Content("~/Task/Create")'"><strong>Add New Task</strong></button>
    </div>


    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>View Task Listing</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project     </th>
                                <th>Phase       </th>
                                <th>Sub Phase   </th>
                                <th>Bucket      </th>
                                <th>Task        </th>
                                <th>Man Days    </th>
                                <th>Generated Date</th>
                                <th>Status      </th>
                                <th>Action      </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@index</td>
                                    <td>@item.C004_BUCKET.C001_PROJECT.ProjectName      </td>
                                    <td>@item.C004_BUCKET.C002_PHASE.PhaseName          </td>
                                    <td>@item.C004_BUCKET.C003_SUB_PHASE.SubPhaseName   </td>
                                    <td>@item.C004_BUCKET.Name                          </td>
                                    <td>@item.SName</td>
                                    <td>@item.ManDays</td>
                                    <td>@item.GeneratedDate.ToString("MMM dd, yyyy")                        </td>                                    
                                    <td>
                                        @if (item.IsActive == true)
                                    {
                                        WriteLiteral("<i class='fa fa-check-square text-navy'></i>");
                                    }
                                    else
                                    {
                                        WriteLiteral("<i class='fa fa-square text-navy'></i>");
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.TaskId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
                                </td>
                            </tr>
                                index = index + 1;
                            }
                        </tbody>
                    </table>
                </div>
                @*Html.DisplayFor(modelItem => item.EndUser.UserName)*@
            </div>
        </div>
    </div>

</div>


<br /><br /><br /><br /><br /><br />
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SSubAreaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneratedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocsLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C010_AREA.AreaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndUser1.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C015_STATUS.TaskStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C011_SUB_AREA.SubAreaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C014_TASK_TYPE.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C004_BUCKET.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskId })
        </td>
    </tr>
}

</table>
