@model ManagementTool.Models.C003_SUB_AREA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C003_SUB_AREA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C002_AREA.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C002_AREA.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubAreaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
