@model ManagementTool.Models.C002_AREA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C002_AREA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C001_DIVISION.DivisionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C001_DIVISION.DivisionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AreaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
